node_modules
.env

# Ignore dependency folders
node_modules/
server/node_modules/
client/node_modules/

# Ignore environment/secret variables
.env
.env.local

# Ignore build production folders (if applicable)
client/dist/
client/build/